<%- include("../partials/header") %>

<div class="container mt-4">

    <h2>Edit Student</h2>

    <form action="/students/<%= student.id %>/edit" method="POST">

        <div class="mb-3">
            <label class="form-label">Full Name</label>

            <input
                type="text"
                class="form-control"
                name="name"
                value="<%= student.name %>"
                required>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>

            <input
                type="email"
                class="form-control"
                name="email"
                value="<%= student.email %>"
                required>
        </div>

        <div class="mb-3">
            <label class="form-label">Department</label>

            <input
                type="text"
                class="form-control"
                name="department"
                value="<%= student.department %>"
                required>
        </div>

        <div class="mb-3">
            <label class="form-label">Level</label>

            <input
                type="number"
                class="form-control"
                name="level"
                value="<%= student.level %>"
                required>
        </div>

        <button class="btn btn-primary">
            Update Student
        </button>

        <a href="/students" class="btn btn-secondary">
            Cancel
        </a>

    </form>

</div>

<%- include("../partials/footer") %>